.Navbar-1 {
  color: Black !important;
  margin: 0.5rem 0;
  box-shadow: 0px 10px 10px -14px rgb(0 0 0 / 25%);
  background: #fff;
  opacity: 0.85;
  z-index: 999;
  display: block;
}

.nav-items {
  color: black !important;
  font-style: normal;
  font-size: 18px;
  line-height: 100px;
  font-weight: 500;
  margin: 0 0.5rem 0 0.5rem;
}

.active {
  color: #01d679 !important;
}

.nav-items:hover {
  color: #01d679 !important;
  transition: color 0.5s;
}

.Navbar-1 img {
  height: 100px;
  width: 220px;
}

@media (max-width: 990px) {
  .nav-link {
    text-align: center !important;
  }

  .Navbar-1 img {
    height: 90px;
    width: 200px;
  }
}
